
  <ul class="nav flex-colum">
    <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 1 }" (click)="changeTabs(1)" href="javascript:void(0);"><small>Account</small></a></li>
    <!--<li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 2 }" (click)="changeTabs(2)" href="javascript:void(0);"><small>Blockchain</small></a></li>  !-->    
    <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 3 }" (click)="changeTabs(3)" href="javascript:void(0);"><small>History</small></a></li>
  </ul>
  <div class="tab-content text-left">
    <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 1 }">
      <br>
      <table  class="table table-sm table-bordered table-hover">
        <thead class="thead">
          <tr>
              <th></th>
              <th>Amount</th>
              <th>Offers</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <th>$</th>
              <td>
                <a *ngIf="ftWallet.getBalance() != '0'" href="javascript:void(0);" (click)="viewNumber(ftWallet.getBalance());">
                  ${{ftNum.getEther(ftWallet.getBalance()) | number : '1.0-0'}}<span *ngIf="ftNum.hasFraction(ftWallet.getBalance())">.#</span>
                </a>
                <span *ngIf="ftWallet.getBalance() == '0'">$0</span>
              </td>
              <td>
                <a *ngIf="ftMarket.bookEther != '0'" href="javascript:void(0);" (click)="showOffersToBuy(ftMarket.bookEther);">
                    ${{ftNum.getEther(ftMarket.bookEther) | number : '1.0-0'}}<span *ngIf="ftNum.hasFraction(ftMarket.bookEther)">.#</span>
                </a>
                <span *ngIf="ftMarket.bookEther == '0'">$0</span>
              </td>
              <td>
                <select (change)="takeAction(0)" [(ngModel)]="action[0]">
                  <option value=""></option>
                  <option value="send_ether">Send</option>
                  <option value="deposit_ftt">Deposit</option>
                  <option value="withdraw_ftt">Withdraw</option>
                  <option value="refer_friend">Free $</option>
                  <!--<option value="buy_ether">Buy Crypto</option>!-->
                </select>
              </td>
            </tr>
            <ng-container *ngFor="let token of getftTokenWatch(); let i = index;">
              <tr *ngIf="i+1">
                <th>
                  {{token.name}}
                </th>
                <td> <a *ngIf="token.mine != '0'" href="javascript:void(0);" (click)="viewNumber(token.mine);">
                    {{ftNum.getEther(token.mine) | number : '1.0-0'}}<span *ngIf="ftNum.hasFraction(token.mine)">.#</span>
                  </a>
                  <span *ngIf="token.mine == '0'">0</span>
                </td>
                <td>
                    <a *ngIf="ftMarket.getBookTokenEther(token.address) != '0'" href="javascript:void(0);" (click)="showOffersToSell(i, ftMarket.getBookTokenEther(token.address));">
                        {{ftNum.getEther(ftMarket.getBookTokenEther(token.address)) | number : '1.0-0'}}<span *ngIf="ftNum.hasFraction(ftMarket.getBookTokenEther(token.address))">.#</span>
                    </a>
                    <span *ngIf="ftMarket.getBookTokenEther(token.address) == '0'">0</span>
                </td>
                <td>
                  <select (change)="takeAction(i+1)" [(ngModel)]="action[i+1]">
                    <option value=""></option>
                    <option *ngIf="i+1 < 3" value="send_token">Send</option>
                    <option *ngIf="i+1 < 3" value="import_token">Import</option>
                    <option *ngIf="i+1 < 3" value="export_token">Export</option>
                    <option *ngIf="i+1 < 3" value="trade_buy_token">Buy</option>
                    <option *ngIf="i+1 < 3" value="trade_sell_token">Sell</option>
                    <option value="view_token">Advanced</option>
                  </select>
                </td>
              </tr>
            </ng-container>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 2 }">
        <strong>Cyrpto Currencies Accessible By CryptoPass</strong><br><Br>
        <table class="table table-sm table-bordered table-hover">
          <thead class="thead">
              <tr>
                  <th>Crypto</th>
                  <th>Amount</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <th>Ethereum</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Bitcoin</th>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Lightcoin</th>
                <td></td>
                <td></td>
              </tr>
          </tbody>
        </table>
    </div>

    <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 3 }">
      <ft-accountHistory></ft-accountHistory>
    </div>

  </div>
