<br>
<h4>
 My Trades
</h4>
<div>
  <table class="table table-sm table-bordered">
      <tr><th></th><th>Block</th><th>Price</th><th>Count</th></tr>
      <ng-container *ngFor="let key of getTrades()">
        <tr>
          <td>{{ftTokenWatch.TokenWatch[ftTokenWatch.getTokenIndexByAddress(ftMarket.myTradesMap[key].token)].name}}</td>
          <td>{{key}}</td>
          <td>${{+ftMarket.myTradesMap[key].price/1000000}}</td>
          <td>{{ftweb3.fromWei(ftMarket.myTradesMap[key].count, 'ether') | number: '1.0-6'}}</td>
        </tr>
      </ng-container>
  </table>
</div>
      