
<div class="modal-header">
    <h5 class="modal-title">Move Ether To Trading Account</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();" href="javascript:void(0);">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [ngStyle]="{'height':modalHeight}">
    <h5>Deposit Ether Into Your Trading Account</h5>
    <Br><Br>
    Amount to deposit: <a (click)="changeEtherDeposit()" href="javascript:void(0);">{{ftweb3.fromWei(depositEtherAmount, 'ether')}}</a>
    <br>Amount remaining: {{ftweb3.fromWei(ftNum.subtractBigNumber(ftWallet.getBalance(), depositEtherAmount), 'ether')}}
    <!--<h5>Confirm that you approve the deposit</h5>!-->
    <!--
    This transaction costs you {{ftweb3.fromWei(ftNum.multiplyBigNumber(ftMarket.Market.estimate,gasPrice), 'ether') | number : '1.0-9' }} TestEther
    <br>
    <select *ngIf="ftWallet.getBalance() != '0'" [(ngModel)]="gasPrice" (click)="buildDepositEtherTrans(true)">
        <option value="0">Free Gas</option>
        <option value="1000000000">Low Gas Cost (1 gwei)</option>
        <option value="5000000000">Medium Gas Cost (5 gwei)</option>
        <option value="21000000000">High Gas Cost (21 gwei)</option>
    </select>
    <br>!-->
</div>
<div class="modal-footer">
    <ul class="nav nav-pills modal-nav text-center">
        <li class="nav-item w-50 prev">
            <a class="nav-link" (click)="close()" href="javascript:void(0);">
                Cancel<br>
            </a>
        </li>
        <li class="nav-item w-50 next">
            <a class="nav-link" (click)="depositEtherConfirm()" href="javascript:void(0);">
                Move {{ftweb3.fromWei(depositEtherAmount, 'ether') | number}} To Trade
                <small><br>Gas Est: {{ftMarket.Market.estimate | number}}</small>
            </a>
        </li>
    </ul>
</div>