
<div class="modal-header">
    <h5 class="modal-title">Export Crypto from your FTT account</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();" href="javascript:void(0);">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [ngStyle]="{'height':modalHeight}">
    <Br>
    Amount to export: <a (click)="changeExportToken()" href="javascript:void(0);">{{ftweb3.fromWei(exportTokenAmount, 'ether')}}</a>
    <br>Amount remaining: {{ftweb3.fromWei(ftNum.subtractBigNumber(ftTokenWatch.TokenWatch[tokenIndex].mine, exportTokenAmount), 'ether') }}
    <br><Br>
    <div class="form-group" [ngClass]="exportAddressStatus" id="exportAddressGroup">
        <label for="exportAddress">Enter Address To Send Crypto To:</label>
        <input type="text" class="form-control" id="exportAddress" placeholder='0x...' (keyup)="exportAddressChange($event)" [(ngModel)]="exportAddress" [ngClass]="exportAddressStatus == 'has-danger' ? 'form-control-warning' : ''" >
        <div class="form-control-feedback" id="exportAddressBad"><br></div>
    </div>
    We will export from your account within 7 days.<br>
    <br><Br>
    <span *ngIf="ftWallet.bankTransExport.length"><strong>Past Exports<br></strong></span>
    <span *ngFor="let export of ftWallet.bankTransExport">
        <span *ngIf="export.BlockNumber!='0'">Block: {{export.BlockNumber}} - Amount: {{ftweb3.fromWei(export.Amount,'ether')}} - Processed: {{export.Processed}}<br></span>
    </span>
</div>
<div class="modal-footer">
    <ul class="nav nav-pills modal-nav text-center">
        <li class="nav-item w-50 prev">
            <a class="nav-link" (click)="close()" href="javascript:void(0);">
                Cancel<br>
            </a>
        </li>
        <li class="nav-item w-50 next">
            <a class="nav-link" (click)="exportTokenConfirm()" href="javascript:void(0);">
                Export {{ftweb3.fromWei(exportTokenAmount, 'ether') | number}}
                <small><br>Gas Est: {{gasPrice | number}}</small>
            </a>
        </li>
    </ul>
</div>