<div class="modal-header">
    <h5 class="modal-title">Add Phone To Recover Your Account</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();" href="javascript:void(0);">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [ngStyle]="{'height':modalHeight}">    
    <div class="form-group row">
        <div *ngIf="verify_step==verify_steps.sendCode" class="col-12">
            <label for="example-tel-input" class="col-form-label">
                My Mobile Number
            </label><br>
            <div >
                1-(<input class="form-control" style="display:inline-block; width:3.5em;" type="tel" value="" placeholder="" minlength="3" maxlength="3" size="3" id="tel1" [(ngModel)]="tel1">)
                <input class="form-control" style="display:inline-block; width:3.5em;" type="tel" value="" placeholder="" minlength="3" maxlength="3" size="3" id="tel2" [(ngModel)]="tel2">
                -
                <input class="form-control" style="display:inline-block; width:4.5em;" type="tel" value="" placeholder="" minlength="4" maxlength="4" size="3" id="tel3" [(ngModel)]="tel3">
                <br><Br>
                <a class="btn btn-ft btn-lg" routerLink="/myaccount" (click)="verify(verify_steps.verifyCode);" href="javascript:void(0);">
                    Text Me Code
                </a>
            </div>
        </div>
        <div *ngIf="verify_step==verify_steps.verifyCode" class="col-12">
            <label for="example-tel-input" class="col-form-label">
                Enter Code
            </label><br>
            <div>
                <input class="form-control" style="display:inline-block; width:auto;" type="number" value="" placeholder="" minlength="6" maxlength="6" size="6" id="code" [(ngModel)]="code">
                <br><Br>
                <a class="btn btn-ft btn-lg" routerLink="/myaccount" (click)="verify(verify_steps.verified);" href="javascript:void(0);">
                    Verify
                </a>
            </div>
        </div>
    </div>
</div>
<!--
<div class="modal-footer">
    <ul class="nav nav-pills modal-nav text-center">
        <li class="nav-item w-100 next">
            <a class="nav-link" routerLink="/myaccount" (click)="close();" href="javascript:void(0);">
                Close
            </a>
        </li>
    </ul>
</div>
!-->