<div class="modal-header">
    <h5 class="modal-title">Refer a friend so you both get $5
        <small><br>Let them know a text from us is coming so they don't think it's spam.</small>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();" href="javascript:void(0);">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [ngStyle]="{'height':modalHeight}">    
    <div class="form-group row">
        <div  *ngIf="send_step==send_steps.enterInfo || send_step==send_steps.badNumber">
            <label for="example-tel-input" class="col-12 col-form-label">
                Mobile Number To Invite
            </label><br>
            <div class="col-12">
                1-(<input class="form-control" style="display:inline-block; width:auto;" type="tel" value="" placeholder="" minlength="3" maxlength="3" size="3" id="tel1" [(ngModel)]="tel1">)
                <input class="form-control" style="display:inline-block; width:auto;" type="tel" value="" placeholder="" minlength="3" maxlength="3" size="3" id="tel2" [(ngModel)]="tel2">
                -
                <input class="form-control" style="display:inline-block; width:auto;" type="tel" value="" placeholder="" minlength="4" maxlength="4" size="3" id="tel3" [(ngModel)]="tel3">                
                <br>
                <span *ngIf="send_step==send_steps.badNumber"><small><br>Bad number or already a member</small></span>
                <br>
                Amount you get: $5.00<br>
                Amount they get: $5.00<br>
                Total: $10.00
            </div>
        </div>
        <div *ngIf="send_step==send_steps.success">
            <label for="example-tel-input" class="col-12 col-form-label">
                Successfully sent invite.
            </label><br>
        </div>
    </div>
</div>
<div class="modal-footer">
    <ul class="nav nav-pills modal-nav text-center">
        <li  *ngIf="send_step==send_steps.enterInfo || send_step==send_steps.badNumber" class="nav-item w-50 prev">
            <a class="nav-link" aria-label="Close" (click)="close();" href="javascript:void(0);">
                <span>Cancel</span>
            </a>
        </li>
        <li  *ngIf="send_step==send_steps.enterInfo || send_step==send_steps.badNumber" class="nav-item w-50 next">
            <a *ngIf="tel1.length==3 && tel2.length==3 && tel3.length==4" class="nav-link" aria-label="Close" (click)="sendInvite();" href="javascript:void(0);">
                <span>Send Invite</span>
                <span *ngIf="send_step==send_steps.badNumber"><small><br>Bad number or already a member</small></span>
            </a>
            <span *ngIf="tel1.length !=3 || tel2.length !=3 || tel3.length !=4">Enter Cell #</span>
        </li>
        <li  *ngIf="send_step==send_steps.success" class="nav-item w-100 next">
            <a class="nav-link" aria-label="Close" (click)="close();" href="javascript:void(0);">
                <span  *ngIf="send_step==send_steps.success">Close</span>
            </a>
        </li>
    </ul>
</div>