<div class="modal-header">
    <h5 class="modal-title">My Sell Offers</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();" href="javascript:void(0);">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [ngStyle]="{'height':modalHeight}">
    <h5>Total {{ftTokenWatch.TokenWatch[tokenIndex].name}} Offered To Sell: {{ftweb3.fromWei(number, 'ether')}}</h5>
    
    <table *ngIf="ftMarket.getPricesSellOfTokenBook(ftTokenWatch.TokenWatch[tokenIndex].address)" class="alert-success tab-white table table-sm table-bordered">
        <tr><th>Price</th><th>Tokens</th></tr>
        <ng-container *ngFor="let item2 of ftMarket.getPricesSellOfTokenBook(ftTokenWatch.TokenWatch[tokenIndex].address)">
            <tr>
                <td>
                    {{+item2/1000000}}
                    <small><br><a class="btn btn-ft" href="javascript:void(0);" (click)="cancelTokenSellOffer(ftTokenWatch.TokenWatch[tokenIndex].address,item2)">Cancel</a></small>
                </td>
                <td>{{ftweb3.fromWei(ftMarket.bookToken.get(ftTokenWatch.TokenWatch[tokenIndex].address).get(item2).count, 'ether')}}</td>
                <!--
                <td>{{ftweb3.fromWei(ftNum.divideBigNumber(ftNum.multiplyBigNumber(item2,ftMarket.bookToken.get(ftTokenWatch.TokenWatch[tokenIndex].address).get(item2).count),"1000000"), 'ether')}}</td>
                -->
            </tr>
        </ng-container>
    </table>
</div>
<div class="modal-footer">
    <ul class="nav nav-pills modal-nav text-center">
        <li *ngIf="ftMarket.Market.estimate == '0'" class="nav-item w-100 prev">
            <a class="nav-link" (click)="close()" href="javascript:void(0);">
                Close
            </a>
        </li>

        <li *ngIf="ftMarket.Market.estimate != '0'" class="nav-item w-50 prev">
            <a class="nav-link" (click)="close()" href="javascript:void(0);">
                Close
            </a>
        </li>
        <li *ngIf="ftMarket.Market.estimate != '0'" class="nav-item w-50 next">
            <a class="nav-link" (click)="cancelOfferConfirm()" href="javascript:void(0);">
                Confirm Cancel Offer
            </a>
        </li>
    </ul>
</div>
