
<h4>
    <strong>C</strong>urrent Offers<br>
</h4>
<div>
    
    <span *ngIf="ftTokenWatch.TokenWatch[tokenIndex].lastPrice">
        <strong>Last Transaction:</strong>
        <a (click)="setPrice(ftTokenWatch.TokenWatch[tokenIndex].lastPrice)" href="javascript:void(0);">{{+ftTokenWatch.TokenWatch[tokenIndex].lastPrice/1000000}}</a> FTT per token for {{ftweb3.fromWei(ftTokenWatch.TokenWatch[tokenIndex].lastCount, 'ether') | number : '1.0-18'}} tokens
        <br>
    </span>
    <br>
    <table class="table table-sm">
        <tr><th class="alert-success">Buy</th><th class="alert-danger">Sell</th></tr>
        <tr valign="top"><td class="alert-success">
            <table *ngIf="ftTokenWatch.TokenWatch[tokenIndex].buyMap" class="tab-white table table-sm table-bordered">
                <tr><th>Price</th><th>Tokens</th></tr>
                <ng-container *ngFor="let key of getSortedKeys(ftTokenWatch.TokenWatch[tokenIndex].buyMap, false)">
                    <tr *ngIf="ftTokenWatch.TokenWatch[tokenIndex].buyMap[key] != '0'"><td>
                            <a (click)="setPrice(key)" href="javascript:void(0);">{{+key/1000000}}</a>
                    </td><td>{{ftweb3.fromWei(ftTokenWatch.TokenWatch[tokenIndex].buyMap[key], 'ether') | number : '1.0-6'}}</td></tr>
                </ng-container>
            </table>
        </td>
        <td valign="top" class="alert-danger">
            <table *ngIf="ftTokenWatch.TokenWatch[tokenIndex].sellMap"  class="tab-white table table-sm table-bordered">
                <tr><th>Price</th><th>Tokens</th></tr>
                <ng-container *ngFor="let key of getSortedKeys(ftTokenWatch.TokenWatch[tokenIndex].sellMap, true)">
                    <tr *ngIf="ftTokenWatch.TokenWatch[tokenIndex].sellMap[key] != '0'"><td>
                        <a (click)="setPrice(key)" href="javascript:void(0);">{{+key/1000000}}</a>
                    </td><td>{{ftweb3.fromWei(ftTokenWatch.TokenWatch[tokenIndex].sellMap[key], 'ether') | number: '1.0-6'}}</td></tr>
                </ng-container>
            </table>
        </td></tr>
    </table>
</div>
