<div class="modal-header">
    <h5 class="modal-title">This is a mess</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();" href="javascript:void(0);">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    
    This page is a mess and we are sorry for it.<br><br>
    We are working to make using Smart Contracts easier. The challenge is Smart Contracts and Blockchains are technically tricky and complex. 
    Our plan to get to mass-adoption is to start with making things work in an ugly complex way, and simplify over time.
    <br><Br>
    This page does work. It's a bunch of functions to interact with the smart contract that are displayed based on the smart contract interface. 
</div>
<div class="modal-footer">
    <ul class="nav nav-pills modal-nav text-center">
        <li class="nav-item w-100 next">
            <a class="nav-link" (click)="close()" href="javascript:void(0);">
                Got it
            </a>
        </li>
    </ul>
</div>
