
<div class="modal-header">
    <h5 class="modal-title">Move Token To Wallet</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();" href="javascript:void(0);">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [ngStyle]="{'height':modalHeight}">
    <h5>Withdraw Token From Your Trading Account</h5>
    <Br><Br>
    Amount to withdraw: <a (click)="changeTokenWithdraw()" href="javascript:void(0);">{{ftweb3.fromWei(withdrawTokenAmount, 'ether') | number}}</a>
    <br>Amount remaining: {{ftweb3.fromWei(ftNum.subtractBigNumber(ftTokenWatch.TokenWatch[tokenIndex].mineTrade, withdrawTokenAmount), 'ether') | number }}
</div>
<div class="modal-footer">
    <ul class="nav nav-pills modal-nav text-center">
        <li class="nav-item w-50 prev">
            <a class="nav-link" (click)="close()" href="javascript:void(0);">
                Cancel<br>
            </a>
        </li>
        <li class="nav-item w-50 next">
            <a class="nav-link" (click)="withdrawTokenConfirm()" href="javascript:void(0);">
                Move {{ftweb3.fromWei(withdrawTokenAmount, 'ether') | number}} To Wallet
                <small><br>Gas Est: {{ftMarket.Market.estimate | number}}</small>
            </a>
        </li>
    </ul>
</div>