<section>
    <div class="homepage-hero-module">
        <div class="block-image setheightmin"></div>
        <div class="setheightmin">
            <div class="video-annotation-layer code-container">    
                <div class="video-annotation-1">
                    <div class="row text-left h-100">
                        <div class="offset-lg-1 col-lg-7 padsmalltop">
                            <div class="media">
                                <img class="hidden-lg-down homepage-hero-module-icon icon-gradient d-flex mr-3" src="/img/svg/FinTechToken_Block.svg" width="90px" alt="FinTechToken">   
                                <div class="media-body">
                                    <h2 class="padleft">
                                        <img class="hidden-xl-up" src="/img/svg/FinTechToken_Block.svg" width="25px" alt="FinTechToken">   
                                        Learn About FTT
                                    </h2>    
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 1 }" (click)="changeTabs(1)" href="javascript:void(0);">FTT</a></li>
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 2 }" (click)="changeTabs(2)" href="javascript:void(0);">Private</a></li>
                                        <!--<li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 3 }" (click)="changeTabs(3)" href="javascript:void(0);">FAQ</a></li>!-->
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 4 }" (click)="changeTabs(4)" href="javascript:void(0);">Roadmap</a></li>
                                    </ul>
                                </div>
                            </div>



                            <div class="tab-white tab-content text-left setheighttab" style="overflow-y:auto; padding-right:0px;" id="myAccordian">
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 1 }">
                                    <h4><img src="/img/svg/FinTechToken_Icon_Logo.svg" width="50px" alt="FTT">
                                        <span class="align-top">About FTT Network</span></h4>
                                    <div>
                                        FTT is on block <strong>{{!getBlocknumber() ? "'Not Connected'" : getBlocknumber() | number}}</strong>
                                        The last 3 digits of the current block is shown in the navigation bar.
                                        <Br><br>
                                        <div id="accordion" class="accordion">
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,1);">
                                                <h5 class="mb-0"  [ngClass]="{'down':collapse==1}">
                                                    <button class="btn btn-link blockchainBTN">
                                                    1) Base currency is $
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==1}">
                                                <div class="card-body">
                                                    FTT is based on the $, a stable and globally known store of value. This makes it easy to know what things cost.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,5);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==5}">
                                                    <button class="btn btn-link blockchainBTN">
                                                    2) No complex blockchain tools to download
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==5}">
                                                <div class="card-body">
                                                    Use FTT on your phone, tablet, or laptop. 
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,7);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==7}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        3) Transactions happen every second
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==7}">
                                                <div class="card-body">
                                                        FTT runs at a usable speed.
                                                        Support of 1,000 transactions per second (TPS)
                                                        means engineers can build useful apps for the world. 
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,6);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==6}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        4) Network "gas" is totally free
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==6}">
                                                <div class="card-body">
                                                    Free is good for everyone. A free network makes it practical to develop micro services and applications for 3rd world. 
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,2);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==2}">
                                                    <button class="btn btn-link blockchainBTN">
                                                       5) Use any major crypto currency
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==2}">
                                                <div class="card-body">
                                                    Transfer any major cryptocurrency in or out of a FTT account. 
                                                    Bitcoin, Ethereum and other crypto is tokenized on the FTT network.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,3);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==3}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        6) Smart contract based accounting
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==3}">
                                                <div class="card-body">
                                                    Our smart-contract based accounting system prevents fraud by allowing community to audit 
                                                    tokenization in real-time.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header"  (click)="changeCollapse($event,8);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==8}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        7) Do things based on blockchain events
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==8}">
                                                <div class="card-body">
                                                    A Smart Contract Event can be configured to execute external APIs.
                                                    This lets developers send texts, emails, update databases, trigger lambdas, etc etc.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,9);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==9}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        8) Run smart contract functions based on real world events
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==9}">
                                                <div class="card-body">
                                                    We provide APIs to execute smart contract functions.
                                                    Integrate blockchain into your existing systems, or build solutions with blockchain components.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header"  (click)="changeCollapse($event,4);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==4}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        9) Smart contract App-Store
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==4}">
                                                <div class="card-body">
                                                        
                                                        Developers publish to our network with a secret address. 
                                                        After a quality review we can publicly share addresses for mass-adoption.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header"  (click)="changeCollapse($event,10);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==10}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        10) FTT is a working product
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==10}">
                                                <div class="card-body">
                                                        We don't believe in white-papers and marketing fluff. We believe in code.
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 2 }">
                                    <h4><img src="{{texts['home.StickImageURL']}}" width="25px" alt="PrivateChain" />
                                        <span class="align-top">Our Private Chains</span></h4>
                                    <div>
                                        We offer Blockchain as a Service (BaaS) for companies
                                        to white-label FTT Technology as their own Private Chain.
                                        <br><br>
                                        <div id="accordion" class="accordion">
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,1);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==1}">
                                                    <button class="btn btn-link blockchainBTN">
                                                    1) Control access                                                   
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==1}">
                                                <div class="card-body">
                                                    Share your network with the world, to select customers, or keep everything securely in-house
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,2);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==2}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        2) Easy for engineers to develop on
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==2}">
                                                <div class="card-body">
                                                        An internal blockchain within your company speeds up development of blockchain tech
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,3);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==3}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        3) Get upgrades for free
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==3}">
                                                <div class="card-body">
                                                    As we develop features for the FTT public net, we will deploy those on your private network for free.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header"  (click)="changeCollapse($event,4);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==4}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        4) No worry infrastructure
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==4}">
                                                <div class="card-body">
                                                    We deploy and manage the network for your company. No need to maintain or manage infrastructure.
                                                </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,5);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==5}">
                                                    <button class="btn btn-link blockchainBTN">
                                                    5) FTT is built for engineers
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==5}">
                                                <div class="card-body">
                                                    Our tools speed up development and enable quick modern agile practices.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,6);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==6}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        6) Easy to integrate with your technology
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==6}">
                                                <div class="card-body">
                                                    Our platform is API based
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,7);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==7}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        7) Easy to integrate with your existing customer digital experiences
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==7}">
                                                <div class="card-body">
                                                    Our user-interface is browser based, easy for customers to use
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header"  (click)="changeCollapse($event,8);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==8}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        8) Secure
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==8}">
                                                <div class="card-body">
                                                        Use AWS security groups to control access.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" (click)="changeCollapse($event,9);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==9}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        9) Simple monthly pricing
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==9}">
                                                <div class="card-body">
                                                        Two license types. Developer and user. 
                                                        <br>
                                                        <br>Minimum of 10 developers.<br><Br>
                                                        We also offer services to develop product for you.
                                                </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header"  (click)="changeCollapse($event,10);">
                                                <h5 class="mb-0" [ngClass]="{'down':collapse==10}">
                                                    <button class="btn btn-link blockchainBTN">
                                                        10) No surprises
                                                    </button>
                                                </h5>
                                                </div>
                                                <div class="collapse" [ngClass]="{'show':collapse==10}">
                                                <div class="card-body">
                                                        Try the tech for free by using the FTT network.
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 3 }">
                                    <h4><span style="font-size:1.5rem; color:#d08d2e;"><i class="icon-question" id="create1"></i></span>
                                        <span class="align-top">Frequent Questions</span>
                                    </h4>

                                    <div id="accordion" class="accordion">
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,1);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==1}">
                                                <button class="btn btn-link blockchainBTN">
                                                What is CryptoPass?
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==1}">
                                            <div class="card-body">
                                                CryptoPass provides access to all major blockchains & tokens in one place; on the FTT network.
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,2);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==2}">
                                                <button class="btn btn-link blockchainBTN">
                                                    How does FTT and CryptoPass work?
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==2}">
                                            <div class="card-body">
                                                 FTT is built on the same cryptography as the Ethereum network. 
                                                <br><br>
                                                CryptoPass stores account/keys in a smart contract. 
                                                With that smart contract you can interact with any major blockchain.
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,3);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==3}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Is FTT and CryptoPass secure?
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==3}">
                                            <div class="card-body">
                                                Yes. All transactions are encrypted clientside with your account/key pair.
                                                Because encryption happens on the client, your secure data never travels unencrypted over the internet. 
                                                Your secure data is always encrypted when stored.
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,5);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==5}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Is FTT verifiable?
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==5}">
                                            <div class="card-body">
                                                <span>
                                                    Yes. We <a href="https://s3.amazonaws.com/fintechtoken.chain/" rel="nofollow" target="_blank">publish</a> all blocks from the FTT network on S3 every 10 minutes so anyone can verify transactions.
                                                </span>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,6);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==6}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Can I see the FTT code?
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==6}">
                                            <div class="card-body">
                                                FTT is <a href="https://github.com/fintechtoken/" rel="nofollow" target="_blank">Token Sourced</a> and available for anyone to read and contribute to.
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,9);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==9}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Who created FTT?
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==9}">
                                            <div class="card-body">
                                                   The founder has done the following.<br>
                                                   <ul>
                                                        <li>He believes code disintermediates industries. He is launching FTT as Token Sourced Code to globally democratize finance.</li>   
                                                        <li>He currently manages multiple tech teams supporting a half billion dollar product at Capital One.</li>
                                                        <li>He launched TuitionCoin in 2015 which refinanced student loans, and has a consumer finance license. This startup  failed in 2017 due to lack of capital.</li>
                                                        <li>He is a Registered Investment Advisor and founded a registered advisory firm in 2010 that utilized an algorithmic trading platform he built</li>
                                                        <li>He launched a roommate matching service that was sold after growing to 60,000 customers in 2005</li>
                                                   </ul>
                                                    
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header"  (click)="changeCollapse($event,10);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==10}">
                                                <button class="btn btn-link blockchainBTN">
                                                    How do we contact FTT?
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==10}">
                                            <div class="card-body">
                                                Join our online community at: <a href="https://hub.decstack.com/projects/channels/fintechtoken" rel="nofolow" target="_blank">DecStack</a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 4 }">
                                    <h4>
                                        <span style="font-size:2.5rem; color:#d08d2e;"><i class="icon-direction" id="create1"></i></span>
                                        <span class="align-top">Roadmap</span>
                                    </h4>
                                    <div id="accordion" class="accordion">
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event, 1);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==1}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Our Goal
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==1}">
                                            <div class="card-body">
                                                Our goal is to build a crypto platform that other engineers can build on top of.
                                                
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,2);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==2}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Token Sourced Code
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==2}">
                                            <div class="card-body">
                                                We Token Sourced our code so FTT contributors can work on this project without bueracratic hiearchy. 
                                                Tokens go to both GitHub project contributors and capital contributors. 
                                                <br><Br>
                                                Token Source is similar to open sourced projects with two main differences.
                                                <ol>
                                                    <li>Users of the code need a license (Revenue is collected via smart contract)</li>
                                                    <li>Project contributors get tokens (Revenue is distributed to token holders via smart contract)</li>
                                                </ol>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,3);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==3}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Community is the product owners
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==3}">
                                            <div class="card-body">
                                                Long term the FTT roadmap will be prioritized by the community. 
                                                The community can vote on product enhancements with tokens.
                                                Those tokens go to engineers that implement the feature.
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header"  (click)="changeCollapse($event,4);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==4}">
                                                <button class="btn btn-link blockchainBTN">
                                                    An AppStore Framework
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==4}">
                                            <div class="card-body">
                                                Similar to App-Stores, developers can add "Smart Contract" applications to our network.
                                                These can be deployed as hidden addresses, or officially deployed after quality review.
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,5);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==5}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Blockchain as a Service (BaaS)
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==5}">
                                            <div class="card-body">
                                                Companies that want Private Blockchains can white label FTT tech.
                                                FTT is a hub, with many private chain spokes extending the tech into private chains. 
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,6);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==6}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Completed MVP Tasks
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==6}">
                                            <div class="card-body">
                                                <ol  style="margin-left:-15px;">
                                                    <li><s>Private Blockchain Up</s></li>
                                                    <li><s>Web3.js connection to private blockchain through website</s></li>
                                                    <li><s>Serverless Angular front-end with lambda backend</s></li>
                                                    <li><s>1 second blocks</s></li>
                                                    <li><s>Compile and publish smart contract through website</s></li>
                                                    <li><s>DynamoDB integration to manage non-blockchain information</s></li>
                                                    <li><s>Trigger lambda based on smart contract event</s></li>
                                                    <li><s>TransferIn/Out/Deposit/Withdraw $ or Major Crypto</s></li>
                                                    <li><s>Smart Contract enabled decentralized trading platform</s></li>
                                                    <li><s>Send money via phone (and connect phone to a new account)</s></li>
                                                </ol>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,7);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==7}">
                                                <button class="btn btn-link blockchainBTN">
                                                    In Progress tasks
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==7}">
                                            <div class="card-body">
                                                <ol  style="margin-left:-15px;">
                                                    <li><s>Combine "Trade" and "Wallet" as one tab to simplify usability (Move funds to trading smart contract in same action as placing trade).</s></li>
                                                    <li><s>Remove "gas" to not confuse users</s></li>
                                                    <li><s>Clean up text for actions to simplify</s></li>
                                                    <li><s>Reset and test blockchain</s></li>
                                                    <li><s>Make sure 0 amounts can't see actions</s></li>
                                                    <li><s>Have "action" button instead of dropdown that launches modal of actions. Or move actions to Token page.</s></li>
                                                    <li>Add filter function from contract ABIs</li>
                                                    <li>Improve token page based on ABI</li>
                                                    <li>Allow token page when user isn't signed in</li>
                                                    <li>Have different ABI for users and admin</li>
                                                </ol>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header"  (click)="changeCollapse($event,8);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==8}">
                                                <button class="btn btn-link blockchainBTN">
                                                    High priority Tasks
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==8}">
                                            <div class="card-body">
                                                <ol  style="margin-left:-15px;">
                                                    <li>Automate transfer in/out (currently has manually step)</li>
                                                    <li>Add all major blockchains and tokens</li>
                                                    <li>Enhance filter function to allow admin developer to trigger javascript</li>
                                                    <li>Also have API to trigger smart contract as admin</li>
                                                    <li>East/West deployement of blockchains</li>
                                                    <li>Stream events from major blockchains and allow subscribing to those events</li>
                                                    <li>Add email</li>
                                                    <li>For security only send password via physical address letter</li>
                                                    <li>Add text for other countries</li>
                                                    <li>Have FTT blockchain explorer</li>
                                                </ol>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" (click)="changeCollapse($event,9);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==9}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Priority Tasks
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==9}">
                                            <div class="card-body">
                                                <ol  style="margin-left:-15px;">
                                                    <li>Provide liquidity to trading. Base price from other exchanges</li>
                                                    <li>Other options for withdraw/deposit</li>
                                                    <li>Basic Income Token</li>
                                                    <li>Improve KYC to upload documents</li>
                                                    <li>Offer smart contract that holds multiple crypto</li>
                                                    <li>Offer short crypto to create synthetic $</li>
                                                    <li>Add secure messaging</li>
                                                    <li>Upgrade smart contract (Transfer variables from v1 to v2)</li>
                                                    <li>Add smart contract for donations</li>
                                                    <li>Add smart contract for auctions and buy now</li>
                                                </ol>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header"  (click)="changeCollapse($event,10);">
                                            <h5 class="mb-0" [ngClass]="{'down':collapse==10}">
                                                <button class="btn btn-link blockchainBTN">
                                                    Future
                                                </button>
                                            </h5>
                                            </div>
                                            <div class="collapse" [ngClass]="{'show':collapse==10}">
                                            <div class="card-body">
                                                The unknowns the community and private enterprises will build using FTT Tech
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <div class="padsmalltop">
                                                <a class="btn btn-ft btn-lg margin-half" routerLink="/crypto_pass" routerLinkActive="active">
                                                    <img src="/img/svg/FTT-Character.svg" width="25px"/>
                                                    <span *ngIf="!isPreviousUser()">Get Started</span>
                                                    <span *ngIf="isPreviousUser() && !isSignedIn()">Sign In</span>
                                                    <span *ngIf="isPreviousUser() && isSignedIn()">My CryptoPass</span>
                                                </a>
                                                <Br><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 hidden-md-down">
                            <div class="imgborder">
                                <!--<img src="img/office.jpg" class="rounded img-fluid setheightmax">!-->
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>
