<section>
    <div class="homepage-hero-module">
        <div class="block-image setheightmin"></div>
        <div class="setheightmin">
            <div class="video-annotation-layer code-container">    
                <div class="video-annotation-1">
                    <div class="row text-left h-100">
                        <div class="col-md-6 offset-md-1 padsmalltop">
                            <div class="media">
                                <i class="hidden-md-down icon-user homepage-hero-module-icon icon-gradient d-flex mr-3"></i>
                                <div class="media-body">
                                    <h2 class="padleft">
                                        <i class="hidden-lg-up icon-user icon-gradient"></i>
                                        <span *ngIf="isPreviousUser()">Sign In</span>
                                        <span *ngIf="!isPreviousUser()">Get Started</span>
                                    </h2>  
                                    <ul class="nav nav-tabs">
                                        <li *ngIf="!isPreviousUser()" class="nav-item">
                                            <a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.getStarted }" (click)="changeTabs(AuthenticateTabs.getStarted)" href="javascript:void(0);">
                                                Start
                                            </a>
                                        </li>
                                        <li *ngIf="isPreviousUser()" class="nav-item">
                                            <a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.signIn }" (click)="changeTabs(AuthenticateTabs.signIn)" href="javascript:void(0);">
                                                Sign In
                                            </a>
                                        </li>
                                        <li *ngIf="!isPreviousUser()" class="nav-item">
                                            <a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.import }" (click)="changeTabs(AuthenticateTabs.import)" href="javascript:void(0);">
                                                Return
                                            </a>
                                        </li>
                                        <li *ngIf="isPreviousUser()" class="nav-item">
                                            <a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.clear }" (click)="changeTabs(AuthenticateTabs.clear)" href="javascript:void(0);">
                                                Clear
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.learn }" (click)="changeTabs(AuthenticateTabs.learn)"  href="javascript:void(0);">
                                                Learn More
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-white tab-content text-left modal-body" style="font-size:125%; overflow-y:auto;" [ngStyle]="{'height':setheight}">
                                <div *ngIf="!isPreviousUser()" class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.getStarted }">
                                    <div>
                                        <h3><a (click)="changeTabs(AuthenticateTabs.learn);" href="javascript:void(0);" ><span style="font-size:1.5rem"><i class="icon-info hover" id="create1"></i></span></a>
                                            Get A Free CryptoPass</h3>
                                        <hr>
                                        <div>
                                            <form (submit)="createAccount();">
                                                <div class="form-group" [ngClass]="pwGroupStatus" id ="PWgroup">
                                                    <label for="PW">
                                                        Pick a secret pass phrase to secure your new CryptoPass:
                                                    </label>
                                                    <input type="password" [ngClass]="pwGroupStatus == 'has-danger' ? 'form-control-warning' : pwGroupStatus == 'has-success' ? 'form-control-success' : ''" class="form-control" id="PW" placeholder="Enter 3-7 random words">
                                                    <div class="form-control-feedback" id="createbad"><br></div>
                                                    <input type="password" [ngClass]="pwGroupStatus == 'has-danger' ? 'form-control-warning' : pwGroupStatus == 'has-success' ? 'form-control-success' : ''" class="form-control" id="PWc" placeholder="Reenter your pass phrase">
                                                </div>
                                                <input type="submit" value="Create CryptoPass" class="btn btn-lg btn-ft" id="launch">
                                                <small><Br>(Encryption may take awhile)</small>
                                            </form>
                                        </div>
                                        <br>
                                        <hr>
                                    </div>
                                </div>

                                <div *ngIf="isPreviousUser()" class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.signIn }">
                                    <h3><a (click)="changeTabs(AuthenticateTabs.learn);" href="javascript:void(0);" ><span style="font-size:1.5rem"><i class="icon-info hover" id="create1"></i></span></a>
                                        CryptoPass Sign in
                                    </h3>
                                    Account#:<br>
                                    <span class="p-small return" id="unlockaccount">{{getRememberedAddress()}}</span>
                                    <hr>
                                    <div>
                                        <form (submit)="unlockAccount();">    
                                            <div class="form-group" [ngClass]="pwUnlockGroupStatus" id="PWUnlockgroup">
                                                <label for="PWUnlock">
                                                    Enter pass phrase to use CryptoPass:
                                                </label>
                                                <input type="password" [ngClass]="pwUnlockGroupStatus == 'has-danger' ? 'form-control-warning' : pwUnlockGroupStatus == 'has-success' ? 'form-control-success' : ''" class="form-control" id="PWUnlock" placeholder="Usually 3-7 random words">
                                                <div class="form-control-feedback" id="unlockbad"><br></div>
                                            </div>
                                            <input type="submit" value="Unlock CryptoPass" class="btn btn-lg btn-ft" id="unlockButton">
                                            <small><Br>(Decryption may take awhile)</small>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.import }">
                                    <h3>Returning User</h3>
                                    <div *ngIf="importCryptoList == ImportList.list">
                                        <hr>
                                        <a href="javascript:void(0);" (click)="SMSPhone();">Recover by text</a>
                                        <hr>
                                        <a href="javascript:void(0);" (click)="importCryptoList=ImportList.import">Paste Saved CryptoPass</a>
                                        <hr>
                                        <!--<a href="javascript:alert('coming soon');">Verify by email</a>
                                        <hr>!-->
                                        <br>
                                    </div>
                                    <div *ngIf="importCryptoList == ImportList.import">
                                        <a href="javascript:void(0);" (click)="importCryptoList=ImportList.list">Go Back</a>
                                        <h3>Enter Saved CryptoPass: </h3>
                                        <hr>
                                        <span style="color:red;" id="importwarning2"></span>
                                        <div class="form-group">
                                            <label for="importENC">Enter CryptoPass:</label>
                                            <input type="text" class="form-control" id="importENC" placeholder='Code that starts with: { "address" :'>
                                        </div>
                                        <a class="btn btn-lg btn-ft" (click)="import();" href="javascript:void(0);">
                                            Import CryptoPass
                                        </a>
                                    </div>
                                </div>


                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.clear }">
                                    <h3>
                                        Clear CryptoPass
                                    </h3>
                                    <div>
                                        Remove CryptoPass from this device to use a different CryptoPass, or create a new CryptoPass.
                                        <hr>
                                        <a class="btn btn-lg btn-ft" (click)="showVerifyDelete();" href="javascript:void(0);">
                                            Clear CryptoPass
                                        </a>
                                    </div>
                                </div>
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.learn }">
                                    <h4>
                                        What is CryptoPass?
                                    </h4>
                                    <p>
                                        <span>
                                            CryptoPass provides access to all major blockchains & tokens in one place.
                                            <br><Br>
                                        </span>
                                    </p>
                                    <hr>
                                    <br>
                                    <h4>
                                        How does CryptoPass work?
                                    </h4>
                                    <p>
                                        <span>
                                            CryptoPass is built on the same cryptography as the Ethereum network. 
                                            <br><br>
                                            Your account/keys are stored in one smart contract. 
                                            With that smart contract you can send transactions to any major blockchain.
                                            <br><Br>
                                        </span>
                                    </p>
                                    <hr>
                                    <br>
                                    <h4>
                                        Is CryptoPass secure?
                                    </h4>
                                    <p>
                                        <span>
                                            Yes. All transactions are encrypted clientside with your account/key pair.
                                            Because encryption happens on the client, your secure data never travels unencrypted over the internet. 
                                            Your secure data is always encrypted when stored.
                                            <br><Br>
                                        </span>
                                    </p>        
                                    <hr>
                                    <br>
                                    <h4>
                                        What is the FinTechToken network?
                                    </h4>
                                    <p>
                                        <span>
                                            The FinTechToken network tokenizes all major blockchains.
                                            You can use the network to transact with major cryptocurrencies with 0 fees at 1 second blocks.
                                            <br><Br>
                                            You can also create your own smart contracts using any major cryptocurrencies.
                                            <br><Br>
                                        </span>
                                    </p>        
                                    <hr>
                                    <br>
                                    <h4>
                                        Is FinTechToken verifiable?
                                    </h4>
                                    <p>
                                        <span>
                                            Yes. We <a href="https://s3.amazonaws.com/fintechtoken.chain/" rel="nofollow" target="_blank">publish</a> all blocks from the FinTechToken network on S3 every 10 minutes so anyone can verify transactions.
                                            <br><Br>
                                            Our code is Token Sourced and available for anyone to read.
                                            <br><Br>
                                        </span>
                                    </p>        
                                    <hr>
                                    <br>
                                    <h4>
                                        What is a pass phrase?
                                    </h4>
                                    <p>
                                        <span>
                                            A pass phrase is a group of random words.
                                            The pass phrase unlocks your CryptoPass. Keep it secret and secure.
                                            If someone knows or guesses your pass phrase they can use your CryptoPass.
                                            <br><Br>
                                        </span>
                                    </p>
                                    <hr>
                                    <br>
                                    <h4>
                                        What if I forget my passphrase?
                                    </h4>
                                    <p>
                                        <span>
                                            If a passphrase is lost, it is lost forever.
                                            The most secure thing is to protect your own passphrase.
                                            <br><Br>
                                            We offer an optional service to store your passphrase in our digital vault. 
                                            This way the pass phrase can be recovered.
                                            We also allow you to name a beneficiary. 
                                            <br><Br>
                                        </span>
                                    </p>    
                                    <hr>
                                    <br>

                                </div>
                            </div>   
                        </div>
                        <div class="col-sm-5 hidden-sm-down">
                            <div class="imgborder">
                                <!--<img src="img/office.jpg" class="rounded img-fluid setheightmax">!-->
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>
