<section>
    <div class="homepage-hero-module">
        <div class="block-image setheightmin"></div>
        <div class="setheightmin">
            <div class="video-annotation-layer code-container">    
                <div class="video-annotation-1">
                    <div class="row text-left h-100">
                        <div class="col-md-6 offset-md-1 padsmalltop">
                            <div class="media">
                                <i class="hidden-md-down icon-user homepage-hero-module-icon icon-gradient d-flex mr-3"></i>
                                <div class="media-body">
                                    <h2 class="padleft">
                                        <i class="hidden-lg-up icon-user icon-gradient"></i>
                                        Get Started
                                    </h2>  
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.getStarted }" (click)="changeTabs(AuthenticateTabs.getStarted)" href="javascript:void(0);">Start</a></li>
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.signIn }" (click)="changeTabs(AuthenticateTabs.signIn)" href="javascript:void(0);">Returning User</a></li>
                                        <li class="nav-item"><a class="nav-link text-uppercase" (click)="showSignUpInfo();" href="javascript:void(0);">Learn More</a></li>
                                        <!--<li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 2 }" (click)="changeTabs(2)" href="javascript:void(0);">Sign Up</a></li>!-->
                                        <!--<li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 3 }" (click)="changeTabs(3)" href="javascript:void(0);">Get Started</a></li>!-->
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-white tab-content text-left">
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.getStarted }">
                                    <br>
                                    <div *ngIf="!isPreviousUser">
                                        <h3><a (click)="showSignUpInfo();" href="javascript:void(0);" ><span style="font-size:1.5rem"><i class="icon-info hover" id="create1"></i></span></a>
                                            Get Your Free CryptoPass</h3>
                                        <br>
                                        <div>
                                            <span *ngIf="isPreviousUser" style="color:red">A new account will replace your existing one<br></span>
                                            <form (submit)="createAccount();">
                                                <div class="form-group" [ngClass]="pwGroupStatus" id ="PWgroup">
                                                    <label class="form-control-label" for="PW">
                                                        <!--<span style="font-size:1.5rem"><i (click)="showSignUpInfo();" href="javascript:void(0);" class="icon-info hover" id="create1"></i></span>!-->
                                                        Pick a secret pass phrase to lock your CryptoPass:
                                                    </label>
                                                    <input type="password" [ngClass]="pwGroupStatus == 'has-danger' ? 'form-control-warning' : pwGroupStatus == 'has-success' ? 'form-control-success' : ''" class="form-control" id="PW" placeholder="Enter 3-7 random words">
                                                    <div class="form-control-feedback" id="createbad"><br></div>
                                                    <input type="password" [ngClass]="pwGroupStatus == 'has-danger' ? 'form-control-warning' : pwGroupStatus == 'has-success' ? 'form-control-success' : ''" class="form-control" id="PWc" placeholder="Reenter your pass phrase">
                                                </div>
                                                <input type="submit" value="Launch CryptoPass" class="btn btn-lg btn-ft" id="launch">
                                                <small><Br>(Encryption may take awhile)</small>
                                            </form>
                                        </div>
                                    </div>
                                    <div *ngIf="isPreviousUser">
                                        <strong>Account#:</strong>
                                        <span class="p-small return" id="unlockaccount">{{rememberedAddress}}</span>
                                        <br>
                                        <div class="form-group">
                                            <span id="unlockbad" style="color:red"></span>
                                            <label for="PWUnlock"><strong>PassPhrase:</strong></label>
                                            <input type="password" class="form-control" id="PWUnlock" placeholder="">
                                        </div>
                                        <a class="btn btn-lg btn-ft" (click)="unlockAccount()" href="javascript:void(0);">
                                            Sign In
                                        </a>
                                        <small><Br>(Decryption may take awhile)</small>
                                    </div>
                                </div>

                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.signIn }">
                                    <h4>
                                        <strong>S</strong>ign in
                                    </h4>
                                    <br>
                                    <div *ngIf="!isPreviousUser">
                                        <strong>P</strong>lease <a href="javascript:void(0);" (click)="changeTabs(2)"><strong>Sign Up</strong></a>, or <a href="javascript:void(0);" (click)="changeTabs(3)"><strong>import</strong></a> an existing account under advanced.
                                    </div>
                                    <div *ngIf="isPreviousUser">
                                        <strong>Account#:</strong>
                                        <span class="p-small return" id="unlockaccount">{{rememberedAddress}}</span>
                                        <br>
                                        <div class="form-group">
                                            <span id="unlockbad" style="color:red"></span>
                                            <label for="PWUnlock"><strong>PassPhrase:</strong></label>
                                            <input type="password" class="form-control" id="PWUnlock" placeholder="">
                                        </div>
                                        <a class="btn btn-lg btn-ft" (click)="unlockAccount()" href="javascript:void(0);">
                                            Sign In
                                        </a>
                                        <small><Br>(Decryption may take awhile)</small>
                                    </div>
                                </div>
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 2 }">
                                    <h4>
                                        <span style="font-size:1.5rem"><i (click)="showSignUpInfo();" href="javascript:void(0);" class="icon-info hover" id="create1"></i></span> <strong>S</strong>ign Up
                                    </h4>
                                    <div><br>
                                        <span *ngIf="isPreviousUser" style="color:red">A new account will replace your existing one<br></span>
                                        <span id="createbad" style="color:red"></span>
                                        <form>
                                            <div class="form-group">
                                                <label for="PW"><strong>PassPhrase:</strong></label>
                                                <input type="password" class="form-control" id="PW" placeholder="">
                                            </div>
                                        </form>
                                        <a class="btn btn-lg btn-ft" (click)="createAccount()" href="javascript:void(0);">
                                            Create Account
                                        </a>
                                        <small><Br>(Encryption may take awhile)</small>
                                    </div>
                                </div>
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 3 }">
                                    <h4>
                                        <strong>I</strong>mport an encrypted account
                                    </h4>
                                    <div><br>
                                        <span *ngIf="isPreviousUser" style="color:red">Importing replaces your existing account<br></span>
                                        <span style="color:red;" id="importwarning2"></span>
                                        <div class="form-group">
                                            <label for="importENC"><strong>Encrypted Account:</strong></label>
                                            <input type="text" class="form-control" id="importENC" placeholder="">
                                        </div>
                                        <a class="btn btn-lg btn-ft" (click)="import();" href="javascript:void(0);">
                                            Import Account
                                        </a>
                                    </div>
                                    <br><hr/><br>
                                    <h4>
                                        <strong>I</strong>mport and encrypt a private key
                                    </h4>
                                    <div><br>
                                        <span *ngIf="isPreviousUser" style="color:red">Importing replaces your existing account<br></span>
                                        <span id="importwarning" style="color:red"></span>
                                        <div class="form-group">
                                            <label for="importKey"><strong>Private Key:</strong></label>
                                            <input type="password" class="form-control" id="importKey" placeholder="0x...">
                                        </div>
                                        <div class="form-group">
                                            <label for="importPW"><strong>PassPhrase to secure account:</strong></label>
                                            <input type="password" class="form-control" id="importPW" placeholder="">
                                        </div>
                                        <a class="btn btn-lg btn-ft" (click)="import();" href="javascript:void(0);">
                                            Import & encrypt
                                        </a>
                                    </div>
                                    <br><hr /><Br>
                                    <h4>
                                        <strong>C</strong>lear Account From Browser
                                    </h4>
                                    <div><br>
                                        <a class="btn btn-lg btn-ft" (click)="showVerifyDelete();" href="javascript:void(0);">
                                            Clear Account
                                        </a>
                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="col-sm-5 hidden-sm-down">
                            <div class="imgborder">
                                <!--<img src="img/office.jpg" class="rounded img-fluid setheightmax">!-->
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>
