<section>
    <div class="homepage-hero-module">
        <div class="block-image setheightmin"></div>
        <div class="setheightmin">
            <div class="video-annotation-layer code-container">    
                <div class="video-annotation-1">
                    <div class="row text-left h-100">
                        <div class="col-md-6 offset-md-1 padsmalltop">
                            <div class="media">
                                <i class="hidden-md-down icon-user homepage-hero-module-icon icon-gradient d-flex mr-3"></i>
                                <div class="media-body">
                                    <h2 class="padleft">
                                        <i class="hidden-lg-up icon-user icon-gradient"></i>
                                        <span *ngIf="isPreviousUser()">Sign In</span>
                                        <span *ngIf="!isPreviousUser()">Get Started</span>
                                    </h2>  
                                    <ul class="nav nav-tabs">
                                        <li *ngIf="!isPreviousUser()" class="nav-item">
                                            <a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.getStarted }" (click)="changeTabs(AuthenticateTabs.getStarted)" href="javascript:void(0);">
                                                Start
                                            </a>
                                        </li>
                                        <li *ngIf="isPreviousUser()" class="nav-item">
                                            <a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.signIn }" (click)="changeTabs(AuthenticateTabs.signIn)" href="javascript:void(0);">
                                                Sign In
                                            </a>
                                        </li>
                                        <li *ngIf="!isPreviousUser()" class="nav-item">
                                            <a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.import }" (click)="changeTabs(AuthenticateTabs.import)" href="javascript:void(0);">
                                                Return
                                            </a>
                                        </li>
                                        <li *ngIf="isPreviousUser()" class="nav-item">
                                            <a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == AuthenticateTabs.clear }" (click)="changeTabs(AuthenticateTabs.clear)" href="javascript:void(0);">
                                                Clear
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-white tab-content text-left modal-body" style="font-size:125%; overflow-y:auto;" [ngStyle]="{'height':setheight}">
                                <div *ngIf="!isPreviousUser()" class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.getStarted }">
                                    <div>
                                        <h4>
                                            <!--<a (click)="changeTabs(AuthenticateTabs.learn);" href="javascript:void(0);" ><span style="font-size:1.5rem"><i class="icon-info hover" id="create1"></i></span></a>!-->
                                            Get A Free CryptoPass</h4>
                                        <div>
                                            <form (submit)="createAccount();">
                                                <div class="form-group" [ngClass]="pwGroupStatus" id ="PWgroup">
                                                    <label for="PW">
                                                        Secure CryptoPass with a secret pass phrase:
                                                    </label>
                                                    <input type="password" [ngClass]="pwGroupStatus == 'has-danger' ? 'form-control-warning' : pwGroupStatus == 'has-success' ? 'form-control-success' : ''" class="form-control" id="PW" placeholder="Enter 3-7 random words">
                                                    <div class="form-control-feedback" id="createbad"><br></div>
                                                    <input type="password" [ngClass]="pwGroupStatus == 'has-danger' ? 'form-control-warning' : pwGroupStatus == 'has-success' ? 'form-control-success' : ''" class="form-control" id="PWc" placeholder="Reenter your pass phrase">
                                                </div>
                                                <input type="submit" value="Create CryptoPass" class="btn btn-lg btn-ft" id="launch">
                                                <small><Br>(Encryption may take awhile)</small>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="isPreviousUser()" class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.signIn }">
                                    <h4>
                                        <!--<a (click)="changeTabs(AuthenticateTabs.learn);" href="javascript:void(0);" ><span style="font-size:1.5rem"><i class="icon-info hover" id="create1"></i></span></a>!-->
                                        CryptoPass Sign in
                                    </h4>
                                    Account#:<br>
                                    <span class="p-small return" id="unlockaccount">{{getRememberedAddress()}}</span>
                                    <hr>
                                    <div>
                                        <form (submit)="unlockAccount();">    
                                            <div class="form-group" [ngClass]="pwUnlockGroupStatus" id="PWUnlockgroup">
                                                <label for="PWUnlock">
                                                    Enter pass phrase to use CryptoPass:
                                                </label>
                                                <input type="password" [ngClass]="pwUnlockGroupStatus == 'has-danger' ? 'form-control-warning' : pwUnlockGroupStatus == 'has-success' ? 'form-control-success' : ''" class="form-control" id="PWUnlock" placeholder="Usually 3-7 random words">
                                                <div class="form-control-feedback" id="unlockbad"><br></div>
                                            </div>
                                            <input type="submit" value="Unlock CryptoPass" class="btn btn-lg btn-ft" id="unlockButton">
                                            <small><Br>(Decryption may take awhile)</small>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.import }">
                                    <h4>Returning User</h4>
                                    <div *ngIf="importCryptoList == ImportList.list">
                                        <hr>
                                        <a href="javascript:void(0);" (click)="SMSPhone();">Recover by text</a>
                                        <hr>
                                        <a href="javascript:void(0);" (click)="importCryptoList=ImportList.import">Advanced - Saved CryptoPass</a>
                                        <hr>
                                        <!--<a href="javascript:alert('coming soon');">Verify by email</a>
                                        <hr>!-->
                                        <br>
                                    </div>
                                    <div *ngIf="importCryptoList == ImportList.import">
                                        <a href="javascript:void(0);" (click)="importCryptoList=ImportList.list">Go Back</a>
                                        <h3>Enter Saved CryptoPass: </h3>
                                        <hr>
                                        <span style="color:red;" id="importwarning2"></span>
                                        <div class="form-group">
                                            <label for="importENC">Enter CryptoPass:</label>
                                            <input type="text" class="form-control" id="importENC" placeholder='Code that starts with: { "address" :'>
                                        </div>
                                        <a class="btn btn-lg btn-ft" (click)="import();" href="javascript:void(0);">
                                            Import CryptoPass
                                        </a>
                                    </div>
                                </div>


                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == AuthenticateTabs.clear }">
                                    <h4>
                                        Clear CryptoPass
                                    </h4>
                                    <div>
                                        Remove CryptoPass from this device to use a different CryptoPass, or create a new CryptoPass.
                                        <hr>
                                        <a class="btn btn-lg btn-ft" (click)="showVerifyDelete();" href="javascript:void(0);">
                                            Clear CryptoPass
                                        </a>
                                    </div>
                                </div>
                                
                            </div>   
                        </div>
                        <div class="col-sm-5 hidden-sm-down">
                            <div class="imgborder">
                                <!--<img src="img/office.jpg" class="rounded img-fluid setheightmax">!-->
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>
