<section>   
    <div class="homepage-hero-module">
            <div class="setheightmin">
                    <div class="video-annotation-layer code-container"> 
                            <img src="/img/svg/FTT_Desktop.svg?v=1" class="hidden-md-down" style="margin-top:55px" width="100%"/>
                            <img src="/img/svg/FTT_Desktop.svg?v=1" class="hidden-lg-up hidden-sm-down" style="margin-top:50px" width="100%"/>
                            <img src="/img/svg/FTT_Tablet_Large.png?v=1" class="hidden-md-up hidden-xs-down" style="margin-top:45px" width="100%"/>
                            <img src="/img/svg/FTT_Tablet.png?v=1" class="hidden-sm-up" style="margin-top:40px" width="100%"/>
        <!--                            
        <div class="container-fluid padsmallbottom padsmalltop">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <a class="btn btn-ft btn-lg margin-half" routerLink="/crypto_pass" routerLinkActive="active">
                        <img src="{{texts['home.StickImageURL']}}" width="25px"/>
                        <span *ngIf="!isPreviousUser()">{{texts['home.startButton']}}</span>
                        <span *ngIf="isPreviousUser() && !isSignedIn()">{{texts['home.startButtonUser']}}</span>
                        <span *ngIf="isPreviousUser() && isSignedIn()">{{texts['home.startButtonAccount']}}</span>
                    </a>
                </div>
            </div>
        </div>
        !-->
        <div class="container-fluid backmustard">
            <div class="container padsmalltop padbottom">
                <div class="row">
                    <div class="col-md-6">
                        <hr />
                        <h4 class="fthero3"  style="height:100%; background-color: #fff;
                        padding: 1rem;
                        margin: 0px;
                            margin-top: 0px;
                        margin-top: -1rem; border-radius: 10px;">
                            <div style="text-align:center;">
                                <img src="{{texts['home.explainationImageHeader1URL']}}" class="rounded-circle" style="background-color:#ffb41b;" width="100px"/>
                                <h3 class="ftheronomargin">
                                    <span>
                                        {{texts['home.explainationImageHeader1']}}
                                    </span>
                                </h3>
                            </div>
                            <div class="d-flex flex-row">
                                
                                <div class="p-1">
                                    <span style="text-align:left">
                                        {{texts['home.explainationWhatWeDo1']}}
                                    </span>
                                </div>
                            </div>
                        </h4>
                    </div>                                
                    <div class="hidden-md-up col-md-12 text-center">
                        <br><br>
                    </div>
                    <div class="col-md-6">
                        <hr />
                        <h4 class="fthero3" style="height:100%; background-color: #fff;
                        padding: 1rem;
                        margin: 0px;
                            margin-top: 0px;
                        margin-top: -1rem; border-radius: 10px;">
                            <div style="text-align:center">
                                <img src="{{texts['home.explainationImageHeader2URL']}}" class="rounded-circle" style="background-color:#ffb41b;" width="50px" />
                                <h3 class="ftheronomargin">
                                    <span>
                                        {{texts['home.explainationImageHeader2']}}
                                    </span>
                                </h3>
                            </div>
                            <div class="d-flex flex-row">
                                
                                <div class="p-1">
                                    <span>
                                            {{texts['home.explainationWhatWeDo2']}}
                                    </span>
                                </div>
                            </div>    
                        </h4>
                    </div>    
                </div>
            </div>
        </div>
        
        <div class="container-fluid padsmalltop padsmallbottom">
            <div class="container">
                <div class="row">
                    <div class="col-2 text-center hidden-xs-down">
                        <img src="{{texts['home.StickImageURL']}}" width="100%" style="max-width:100px;"/>
                    </div>
                    <div class="col-12 col-sm-10">
                        <h3>
                            <div class="d-flex flex-row">
                                <div class="p-2"><img src="{{texts['home.StickImageURL']}}" width="50px" class="hidden-sm-up" /></div>
                                <div class="p-2">
                                    <span>
                                        {{texts['home.Hero3Head']}}
                                    </span>
                                </div>
                            </div>
                        </h3>
                        <hr>
                        <h4 class="fthero3" [innerHTML]="texts['home.Hero3']">
                        </h4>
                    </div>
                </div>
            </div>
        </div>        
<!--
        <div class="container-fluid padsmallbottom padsmalltop backmustard">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <h3>Why Use FinTechToken</h3>
                </div>
            </div>
        </div>
-->
        <div class="container-fluid backteal padsmalltop padsmallbottom">
            <div class="container">
            <div class="row">
                <!--
                <div class="d-flex w-100" >
                    <div class="w-50 text-center backteal" style="padding:.5rem; border-right:1px solid #fff;">
                        <h3>Other Blockchains</h3>
                    </div>
                    <div class="w-50 text-center backmustard"  style="padding:.5rem; border-left:1px solid #fff;">
                        <h3>FinTechToken</h3>
                    </div>
                </div>
                !-->
                    <div class="d-flex w-100" style="border-top: 0px solid #AACDD2; border-bottom: 1px solid #fff">
                        <div class="w-50 center" style="padding:.5rem; border-right: 0px solid #AACDD2;">
                            
                            <img src="{{texts['home.ScenarioImageURL1a']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#fff; margin-bottom:10px;"/>
                            <h4 class="center">
                                {{texts['home.valueProblem1']}}
                            </h4>
                            
                        </div>
                        <div class="w-50 center" style="padding:.5rem; border-left: 0px solid #AACDD2;">
                            
                            <img src="{{texts['home.ScenarioImageURL1b']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#FEC45F; margin-bottom:10px;"/>
                            <h4 class="center">
                                {{texts['home.valueSolution1']}}
                            </h4>
                            
                        </div>
                    </div>
                    <div class="d-flex w-100 padsmalltop" style="border-bottom: 1px solid #fff; border-top: 0px solid #AACDD2">
                        <div class="w-50 center" style="padding:.5rem; border-right: 0px solid #AACDD2;">
                            
                            <img src="{{texts['home.ScenarioImageURL2a']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#fff; margin-bottom:10px;"/>
                            <h4 class="center">
                                {{texts['home.valueProblem2']}}
                            </h4>
                            
                        </div>
                        <div class="w-50 center" style="padding:.5rem; border-left: 0px solid #AACDD2;">
                            
                            <img src="{{texts['home.ScenarioImageURL2b']}}" width="100%" class="mobileimage rounded-circle"  style="background-color:#FEC45F; margin-bottom:10px;"/>
                            <h4 class="center">
                                {{texts['home.valueSolution2']}}
                            </h4>
                            
                        </div>
                    </div>
                    <div class="d-flex w-100 padsmalltop" style="border-bottom: 0px solid #AACDD2; border-top: 0px solid #AACDD2">
                        <div class="w-50 center" style="padding:.5rem; border-right: 0px solid #AACDD2;">
                            
                            <img src="{{texts['home.ScenarioImageURL3a']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#fff; margin-bottom:10px;"/>
                            <h4 class="center">
                                {{texts['home.valueProblem3']}}
                            </h4>
                            
                        </div>
                        <div class="w-50 center" style="padding:.5rem; border-left: 0px solid #AACDD2;">
                            
                            <img src="{{texts['home.ScenarioImageURL3b']}}" width="100%" class="mobileimage rounded-circle"  style="background-color:#FEC45F; margin-bottom:10px;"/>
                            <h4 class="center">
                                {{texts['home.valueSolution3']}}
                            </h4>
                        </div>
                        </div>
                    </div>
            </div>
        </div>

        <!--
        <div class="container-fluid padsmalltop padsmallbottom backteal  hidden">
            <div class="row padsmallbottom" style="border-top: 0px solid #AACDD2; border-bottom:#fff 1px solid">
                <div class="col-sm-3 d-flex align-items-center justify-content-center">
                    <h4 class="">
                        {{texts['home.valueProblem1']}}
                    </h4>
                </div>
                <div class="col-sm-3 d-flex align-items-center justify-content-center" style="border-right:#fff 0px solid; padding:1rem;">
                    <img src="{{texts['home.ScenarioImageURL1a']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#fff;"/>
                </div>
                
                <div class="col-sm-3 d-flex align-items-center justify-content-center" style="padding:1rem;">
                    <img src="{{texts['home.ScenarioImageURL1b']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#FEC45F;"/>
                </div>
                <div class="col-sm-3 d-flex align-items-center justify-content-center" style="border-left:#AACDD2 0px solid">
                    <h4 class="">
                        {{texts['home.valueSolution1']}}
                    </h4>
                </div>
            </div>
        
            <div class="row padsmallbottom padsmalltop" style="border-top:#AACDD2 0px solid; border-bottom:#fff 1px solid; ">
                <div class="col-sm-3 d-flex align-items-center justify-content-center">
                    <h4 class="">
                        {{texts['home.valueProblem2']}}
                    </h4>
                </div>
                <div class="col-sm-3 d-flex align-items-center justify-content-center" style="border-right:#fff 0px solid; padding:1rem;">
                    <img src="{{texts['home.ScenarioImageURL2a']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#fff;"/>
                </div>
                <div class="col-sm-3 d-flex align-items-center justify-content-center"  style="padding:1rem;">
                    <img src="{{texts['home.ScenarioImageURL2b']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#FEC45F;"/>
                </div>
                <div class="col-sm-3 d-flex align-items-center justify-content-center" style="border-left:#AACDD2 0px solid">
                    <h4 class="">
                        {{texts['home.valueSolution2']}}
                    </h4>
                </div>
            </div>
        
            <div class="row padsmalltop" style="border-top:#AACDD2 0px solid; border-bottom:#AACDD2 0px solid; ">
                <div class="col-sm-3 d-flex align-items-center justify-content-center  padmobile">
                    <h4 class="">
                        {{texts['home.valueProblem3']}}
                    </h4>
                </div>
                <div class="col-sm-3 d-flex align-items-center justify-content-center" style="border-right:#fff 0px solid; padding:1rem;">
                    <img src="{{texts['home.ScenarioImageURL3a']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#fff;"/>
                </div>
                <div class="col-sm-3 d-flex align-items-center justify-content-center" style="padding:1rem;">
                    <img src="{{texts['home.ScenarioImageURL3b']}}" width="100%" class="mobileimage rounded-circle" style="background-color:#FEC45F;"/>
                </div>
                <div class="col-sm-3 d-flex align-items-center justify-content-center  padmobile" style="border-left:#AACDD2 0px solid">
                    <h4 class="">
                        {{texts['home.valueSolution3']}}
                    </h4>
                </div>
            </div>
        </div>
-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="padsmalltop">
                        <a class="btn btn-ft btn-lg margin-half" routerLink="/crypto_pass" routerLinkActive="active">
                            <img src="{{texts['home.StickImageURL']}}" width="25px"/>
                            <span *ngIf="!isPreviousUser()">{{texts['home.startButton']}}</span>
                            <span *ngIf="isPreviousUser() && !isSignedIn()">{{texts['home.startButtonUser']}}</span>
                            <span *ngIf="isPreviousUser() && isSignedIn()">{{texts['home.startButtonAccount']}}</span>
                        </a>
                        
                        <a class="btn btn-ft btn-lg margin-half" routerLink="/blockchain" routerLinkActive="active">
                            <img src="{{texts['home.blockImageURL']}}" height="70px"/>
                            {{texts['home.learnMoreButton']}}
                        </a>
                        <br><Br><br>
                    </div>
                </div>
            </div>
        </div>
        <!---
        <img src="/img/copyright/blocksbottomb.jpg" width="100%"/>
        !-->
    </div>
    </div>
    </div>
</section>

 <!---
        <div class="ssetheightmin">
            <div class="vvideo-annotation-layer ccode-container container-fluid">
                <div class="row">
                    <div class="col-sm-7 col-md-5 offset-md-1 col-lg-4 offset-lg-2" style="z-index:999">
                        <div class="vvideo-annotation-1 text-left">
                            <!--- 
                            <h1 class="fthero">
                                <span [innerHTML]="texts['home.Hero1']">
                                </span>
                            </h1>

                            <h4 class="fthero3 shadow" [innerHTML]="texts['home.Hero2']">
                            </h4>
                            !--
                            <div class="ftherobutton">
                                <a class="btn btn-ft btn-lg margin-half" routerLink="/crypto_pass" routerLinkActive="active">
                                    <span *ngIf="!isPreviousUser()">{{texts['home.startButton']}}</span>
                                    <span *ngIf="isPreviousUser() && !isSignedIn()">{{texts['home.startButtonUser']}}</span>
                                    <span *ngIf="isPreviousUser() && isSignedIn()">{{texts['home.startButtonAccount']}}</span>
                                </a>
                            </div>
                        </div>         
                    </div>
                    <div class="col-sm-5 col-md-6 mbminus50 text-center">
                        <img src="{{texts['home.explainationImageURL']}}" class="headerborder mobileimagea" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
        !-->