<section>
    <div class="homepage-hero-module">
        <div class="block-image setheightmin"></div>
        <div class="setheightmin">
            <div class="video-annotation-layer code-container">    
                <div class="video-annotation-1">
                    <div class="row text-left h-100">
                        <div class="offset-lg-1 col-lg-7 padsmalltop">
                            <div class="media">
                                <i class="hidden-lg-down icon-disc homepage-hero-module-icon icon-gradient d-flex mr-3"></i>
                                <div class="media-body">
                                    <h2 class="padleft">
                                        <i class="hidden-xl-up icon-disc icon-gradient"></i>
                                        {{tokenName}}
                                        <span *ngIf="tokenAddress" class="p-small return m-left-m30">0x{{tokenAddress}}</span>
                                    </h2>    
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 1 }" (click)="changeTabs(1)" href="javascript:void(0);">Overview</a></li>
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 2 }" (click)="changeTabs(2)" href="javascript:void(0);">Offers</a></li>
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 3 }" (click)="changeTabs(3)" href="javascript:void(0);">Trades</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-white tab-content text-left setheighttab1" style="overflow-y:auto;">
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 1 }">
                                    <h4>
                                        <i (click)="showTokenInfo();" href="javascript:void(0);" class="icon-info hover"></i>
                                        <strong>S</strong>orry This Is A Mess
                                    </h4>
                                    <div>
                                        
                                        <br>
                                        <strong>$ Held By Contract:</strong> ${{ftweb3.fromWei(etherBalance,'ether')}}<br>
                                        <span *ngIf="ftTokenWatch.TokenWatch[tokenIndex].lastPrice">
                                            <strong>Last Trade:<br></strong>
                                            <span *ngIf="ftTokenWatch.TokenWatch[tokenIndex].lastPrice=='0'">Never Traded</span>
                                            <span *ngIf="ftTokenWatch.TokenWatch[tokenIndex].lastPrice!='0'">
                                                Price: ${{+ftTokenWatch.TokenWatch[tokenIndex].lastPrice/1000000}} per {{tokenName}}<br>
                                                Count: {{ftweb3.fromWei(ftTokenWatch.TokenWatch[tokenIndex].lastCount, 'ether') | number : '1.0-18'}}
                                            </span>
                                            <br>
                                        </span>
                                        
                                        <span *ngIf="tokenTotalSupply">
                                            <strong>TotalSupply:</strong> 
                                            <a *ngIf="tokenTotalSupply != '0'" href="javascript:void(0);" (click)="viewNumber(tokenTotalSupply);">
                                                {{ftNum.getEther(tokenTotalSupply) | number : '1.0-0'}}<span *ngIf="ftNum.hasFraction(tokenTotalSupply)">.#</span>
                                            </a>
                                            <span *ngIf="tokenTotalSupply == '0'">0</span>
                                            <br>
                                        </span>

                                        <span *ngIf="tokenTotalOutstanding">
                                            <strong>TotalOutstanding:</strong> 
                                            <a *ngIf="tokenTotalOutstanding != '0'" href="javascript:void(0);" (click)="viewNumber(tokenTotalOutstanding);">
                                                {{ftNum.getEther(tokenTotalOutstanding) | number : '1.0-0' }}<span *ngIf="ftNum.hasFraction(tokenTotalOutstanding)">.#</span>
                                            </a>
                                            <span *ngIf="tokenTotalOutstanding == '0'">0</span>
                                            <br>
                                        </span>
                                        <span>
                                            <strong>My Balance:</strong>
                                            <a *ngIf="tokenMine != '0'" href="javascript:void(0);" (click)="viewNumber(tokenMine);">
                                                {{ftNum.getEther(tokenMine) | number : '1.0-0'}}<span *ngIf="ftNum.hasFraction(tokenMine)">.#</span>
                                            </a>
                                            <span *ngIf="tokenMine == '0'">0</span>
                                            
                                            <span *ngIf="ftNum.compareBigNumber(tokenTotalSupply,'0') == 1"><br>{{ftNum.divideBigNumber(ftNum.multiplyBigNumber(tokenMine,"100"),tokenTotalSupply)}}.{{ftNum.divideBigNumberRemain(ftNum.multiplyBigNumber(tokenMine,"100"),tokenTotalSupply)}}%</span>
                                            
                                            <span *ngIf="tokenTotalOutstanding != '0'"><br><strong>% Owned Of Outstanding</strong> {{ftNum.divideBigNumber(ftNum.multiplyBigNumber(tokenMine,"100"),tokenTotalOutstanding)}}.{{ftNum.divideBigNumberRemain(ftNum.multiplyBigNumber(tokenMine,"100"),tokenTotalOutstanding)}}%</span>
                                            <br>
                                        </span>
                                        <span *ngFor="let function of getABI(); let myindex=index">
                                            <span *ngIf="function.type == 'constructor'"></span>
                                            <div *ngIf="function.type == 'event'"><br>Subscribe to Event: {{function.name}}</div>
                                            <div *ngIf="function.type == 'fallback' || function.type =='function'">
                                                <br>
                                                <a class="btn btn-lg btn-ft" (click)="callFunction(myindex);" href="javascript:void(0);">
                                                    <span *ngIf="function.type=='fallback'"><strong>FallBack Function</strong></span>
                                                    <span *ngIf="function.type=='function'"><strong>Function: {{function.name}}</strong></span>
                                                    <small *ngIf="gasEst[myindex]"><br>Gas Est: {{gasEst[myindex] | number}}</small>
                                                    <small *ngIf="errMessage[myindex]"><br>{{errMessage[myindex]}}</small>
                                                </a>
                                                <span *ngIf="results[myindex]!==undefined"><strong>Result:</strong> {{results[myindex]}}</span>
                                                <span *ngIf="function.payable"><br><strong>$ to send:</strong> <a (click)="changeAmountToSend(myindex)" href="javascript:void(0);">${{ftweb3.fromWei(amountToSend[myindex], 'ether')}}</a><br></span>
                                                <span *ngFor="let input of function.inputs; let myindex2=index">
                                                    <br><strong>{{input.name}}:</strong> Type:{{input.type}} Value:
                                                    <a *ngIf="input.type.substring(0,4) == 'uint'" (click)="changeInputAmount(myindex, myindex2)" href="javascript:void(0);">{{ftweb3.fromWei(inputs[myindex][myindex2], 'ether')}}</a>
                                                    <input *ngIf="input.type.substring(0,4) != 'uint'" (input)="getGasEst(myindex)" [(ngModel)]="inputs[myindex][myindex2]">
                                                </span>
                                                <br>
                                            </div>
                                        </span>
                                        <br><Br>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 2 }">
                                    <ft-tradeTokenBook *ngIf="tokenIndex>=0" [tokenIndex]="tokenIndex" [modal]="0"></ft-tradeTokenBook>
                                </div>
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 3 }">
                                    <ft-tradeTokenTrades *ngIf="tokenIndex>=0" [tokenIndex]="tokenIndex" ></ft-tradeTokenTrades>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 hidden-md-down">
                            <div class="imgborder">
                                <!--<img src="img/office.jpg" class="rounded img-fluid setheightmax">!-->
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>



<!-- Modal 3 Get Free Token
<div [ngClass]="{ 'show block': modal == 3 }" class="modal fade roboto" tabindex="-1" aria-hidden="true">
    <div *ngIf="!gotFree" class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Get Free Token</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal(0);" href="javascript:void(0);">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5>Create transaction on the blockchain to get a FreeToken</h5>
            This transaction costs {{wb3.utils.fromWei(multiplyBigNumber(token.estimate,gasPrice), 'ether') | number : '1.0-9' }} TestEther
            <select *ngIf="tutorial.state >= 4" [(ngModel)]="gasPrice" (click)="getFreeToken()">
                <option value="0">Free Gas</option>
                <option value="1000000000">Low Gas Cost (1 gwei)</option>
                <option value="5000000000">Medium Gas Cost (5 gwei)</option>
                <option value="21000000000">High Gas Cost (21 gwei)</option>
            </select>
            <br><br>
            The transaction will use {{token.estimate | number}} gas. 
            <br><br>Gas is what the blockchain network uses to process transactions.
            This way people who want transactions to happen faster can bid more for gas than others.
            Because this is FTT and you have no TestEther we will bid 0 and the transaction will be free.
            <br><Br>
            Typical price for gas is between 1 and 20 gwei*. At $300/Ether a 70k gas transaction would cost between $0.0021 and $0.042.
            <br><Br>
            *(See the <a href="https://ethgasstation.info/calculatorTxV.php" target="_blank">Ethereum Gas Station</a> for pricing.) 
            <span *ngIf="token.estimate == maxGas">That is all the gas. Most likely an error.</span>
        </div>
        <div class="modal-footer">
            <ul class="nav nav-pills modal-nav text-center">
                <li class="nav-item w-50 prev">
                    <a class="nav-link" (click)="showModal(0)" href="javascript:void(0);">
                        Cancel
                    </a>
                </li>
                <li class="nav-item w-50 next">
                    <a class="nav-link" (click)="getFreeTokenConfirm()" href="javascript:void(0);">
                        Confirm
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <div *ngIf="gotFree" class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">You already got a free token</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal(0);" href="javascript:void(0);">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5>Each address can only get 1 free token</h5>
            Check your messages to see what's next in the tutorial
        </div>
        <div class="modal-footer">
            <ul class="nav nav-pills modal-nav text-center">
                <li class="nav-item w-100 next">
                    <a class="nav-link" (click)="showModal(0)" href="javascript:void(0);">
                        Ok
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
!-->


<!-- Modal 4 Got Free Token
<div [ngClass]="{ 'show block': modal == 4 }" class="modal fade roboto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Free Token Transaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal(0);" href="javascript:void(0);">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Transactions only happen when a new block is added to the blockchain. 
            Your transaction was sent to the blockchain but won't be official until it is added to a block.
            Confirmations are additional blocks after your transaction. The more blocks after your transaction the safer your transaction is. 
            <br><Br>
            This may take a few blocks. (Time since last block {{seconds}})
            <div [ngClass]="{ 'alert-warning': !token.transaction, 'alert-success': token.transaction }" class="alert" role="alert">Transaction sent to blockchain
                <br>{{token.transaction}}
            </div>
            <div [ngClass]="{'alert-warning': !token.receipt, 'alert-success': token.receipt }" class="alert" role="alert">Transaction added to blockchain
                <br>Gas Used: {{token.receipt?.gasUsed | number}}
                <span *ngIf="token.error">ERROR {{token.error}}</span>
            </div>
            <div [ngClass]="{'alert-warning': token.confirmed < 2, 'alert-success': token.confirmed > 1 }" class="alert" role="alert">Transaction confirmed on blockchain {{token.confirmed}} times</div>
        </div>
        <div class="modal-footer">
            <ul class="nav nav-pills modal-nav text-center">
                <li class="nav-item w-100 next">
                    <a class="nav-link" (click)="showModal(0)" href="javascript:void(0);">
                        Close
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
!-->