<section>
    <div class="homepage-hero-module">
        <div class="block-image setheightmin"></div>
        <div class="setheightmin">
            <div class="video-annotation-layer code-container">    
                <div class="video-annotation-1">
                    <div class="row text-left h-100">
                        <div class="col-md-6 offset-md-1 padsmalltop">
                            <div class="media">
                                <i class="hidden-md-down icon-disc homepage-hero-module-icon icon-gradient d-flex mr-3"></i>
                                <div class="media-body">
                                    <h2 class="padleft">
                                        <i class="hidden-lg-up icon-disc icon-gradient"></i>
                                        {{token.name}} Token
                                        <span *ngIf="token.address" class="p-small return m-left-m30">{{token.address}}</span>
                                    </h2>    
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 1 }" (click)="changeTabs(1)" href="javascript:void(0);">Overview</a></li>
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 2 }" (click)="changeTabs(2)" href="javascript:void(0);">Offers</a></li>
                                        <li class="nav-item"><a class="nav-link text-uppercase" [ngClass]="{ 'active': tabs == 3 }" (click)="changeTabs(3)" href="javascript:void(0);">Trades</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-white tab-content text-left">
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 1 }">
                                    <h4>
                                        <i (click)="showModal(2);" href="javascript:void(0);" class="icon-info hover"></i>
                                        <strong>O</strong>verview
                                    </h4>
                                    <div>
                                        <span *ngIf="token.address == '9287bb21719d283CfdD7d644a89E8492f9845B64'">
                                            FreeToken is a fake company that is offering 1 free token to every address. 
                                            <br>
                                            <span *ngIf="tutorial.state > 0 ">
                                                You already received a free token!
                                            </span>
                                        </span>
                                        <span *ngIf="token.address == '2d5e86187855CC29B40469e8a7355f3fDBf4C088'">
                                            TradingToken is a fake company that is offering 5 free tokens to every address that gets to step 7 of the tutorial.

                                            Trade these tokens with others for free and for fun!
                                            <br>
                                            <span *ngIf="tutorial.state < 5 ">
                                                Keep working on the tutorial!
                                            </span>
                                            <span *ngIf="tutorial.state > 5 ">
                                                You already received 5 free trading tokens. 
                                            </span>
                                        </span>
                                        <br>
                                        <span *ngIf="token.lastPrice">
                                            <strong>LastPrice:</strong>
                                            {{+token.lastPrice/1000000}} Ether per token for {{getEther(token.lastCount) | number : '1.0-18'}} tokens
                                            <br>
                                        </span>
                                        <span *ngIf="token.totalSupply">
                                            <strong>TotalSupply:</strong> 
                                            <a *ngIf="token.totalSupply != '0'" href="javascript:void(0);" (click)="viewNumber(token.totalSupply);">
                                                {{getEther(token.totalSupply) | number : '1.0-0'}}<span *ngIf="hasFraction(token.totalSupply)">.#</span>
                                            </a>
                                            <span *ngIf="token.totalSupply == '0'">0</span>
                                            <br>
                                        </span>
                                        <span *ngIf="token.totalOutstanding">
                                            <strong>TotalOutstanding:</strong> 
                                            <a *ngIf="token.totalOutstanding != '0'" href="javascript:void(0);" (click)="viewNumber(token.totalOutstanding);">
                                                {{getEther(token.totalOutstanding) | number : '1.0-0' }}<span *ngIf="hasFraction(token.totalOutstanding)">.#</span>
                                            </a>
                                            <span *ngIf="token.totalOutstanding == '0'">0</span>
                                            <br>
                                        </span>
                                        <span>
                                            <strong>My Balance:</strong>
                                            <a *ngIf="token.mine != '0'" href="javascript:void(0);" (click)="viewNumber(token.mine);">
                                                {{getEther(token.mine) | number : '1.0-0'}}<span *ngIf="hasFraction(token.mine)">.#</span>
                                            </a>
                                            <span *ngIf="token.mine == '0'">0</span>
                                            <!--
                                            <span *ngIf="token.totalSupply > 0"><br>{{token.mine/token.totalSupply}}</span>
                                            !-->
                                            <span *ngIf="token.totalOutstanding != '0'"><br><strong>% Owned Of Outstanding</strong> {{token.mine*100/token.totalOutstanding}}%</span>
                                            <br>
                                        </span>
                                        <span *ngIf="token.address == '9287bb21719d283CfdD7d644a89E8492f9845B64' && tutorial.state == 0">
                                            <br>
                                            <a class="btn btn-lg btn-ft" href="javascript:void(0);" (click)="getFreeToken();">Get a Free Token</a>
                                            <br>
                                        </span>
                                        <span *ngIf="token.address == '2d5e86187855CC29B40469e8a7355f3fDBf4C088' && tutorial.state == 5">
                                            <br>
                                            <a class="btn btn-lg btn-ft" href="javascript:void(0);" (click)="getFreeToken();">Get a Free Token</a>
                                            <br>
                                        </span>
                                    </div>
                                </div>
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 2 }">
                                    <h4>
                                        <strong>O</strong>ffers<br>
                                    </h4>
                                    <div>
                                        <span *ngIf="token.lastPrice">
                                            <strong>LastPrice:</strong>
                                            {{+token.lastPrice/1000000}} Ether per token for {{wb3.utils.fromWei(token.lastCount, 'ether') | number : '1.0-18'}} tokens
                                            <br>
                                        </span>
                                        
                                        <br>
                                        <table class="table table-sm">
                                            <tr><th class="alert-success">Buy</th><th class="alert-danger">Sell</th></tr>
                                            <tr valign="top"><td class="alert-success">
                                                <table class="tab-white table table-sm table-bordered">
                                                    <tr><th>Price</th><th>Tokens</th></tr>
                                                    <ng-container *ngFor="let key of getSortedKeys(token.buyMap, false)">
                                                        <tr *ngIf="token.buyMap[key] != '0'"><td>{{+key/1000000}}</td><td>{{wb3.utils.fromWei(token.buyMap[key], 'ether') | number : '1.0-6'}}</td></tr>
                                                    </ng-container>
                                                </table>
                                            </td>
                                            <td valign="top" class="alert-danger">
                                                <table class="tab-white table table-sm table-bordered">
                                                    <tr><th>Price</th><th>Tokens</th></tr>
                                                    <ng-container *ngFor="let key of getSortedKeys(token.sellMap, true)">
                                                        <tr *ngIf="token.sellMap[key] != '0'"><td>{{+key/1000000}}</td><td>{{wb3.utils.fromWei(token.sellMap[key], 'ether') | number: '1.0-6'}}</td></tr>
                                                    </ng-container>
                                                </table>
                                            </td></tr>

                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade show roboto padtabs" [ngClass]="{ 'active': tabs == 3 }">
                                    <h4>
                                        <strong>T</strong>rades
                                    </h4>
                                    <div>
                                        <br>
                                        <table class="table table-sm table-bordered">
                                            <tr><th>Price</th><th>Tokens</th></tr>
                                            <ng-container *ngFor="let key of getSortedKeys(token.tradeMap,false)">
                                                <tr><td>{{+token.tradeMap[key].price/1000000}}</td><td>{{wb3.utils.fromWei(token.tradeMap[key].count, 'ether') | number: '1.0-6'}}</td></tr>
                                            </ng-container>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 hidden-sm-down">
                            <div class="imgborder">
                                <!--<img src="img/office.jpg" class="rounded img-fluid setheightmax">!-->
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</section>

<!-- Modal 1 Number -->
<div *ngIf="modal == 1" [ngClass]="{ 'show block': modal == 1 }" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content roboto">
            <div class="modal-header">
                <h5 class="modal-title">{{wb3.utils.fromWei(number, 'ether')}} Ether</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal(0);" href="javascript:void(0);">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{getEther(number) | number : '1.0-0'}} Ether<br>
                {{getFinney(number) | number : '1.0-0'}} Finney<br>
                {{getSzabo(number) | number : '1.0-0'}} Szabo<br>
                {{getGwei(number) | number : '1.0-0'}} Gwei<br>
                {{getMwei(number) | number : '1.0-0'}} Mwei <br>
                {{getKwei(number) | number : '1.0-0'}} Kwei <br>
                {{getWei(number) | number : '1.0-0'}} Wei<Br><Br>
            </div>
            <div class="modal-footer">
                <ul class="nav nav-pills modal-nav text-center">
                    <li class="nav-item w-100 next">
                        <a class="nav-link" (click)="showModal(0)" href="javascript:void(0);">
                            Got it
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 Overview -->
<div  [ngClass]="{ 'show block': modal == 2 }" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content roboto">
            <div class="modal-header">
                <h5 class="modal-title">About Tokens</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal(0);" href="javascript:void(0);">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Total Supply:</strong> This is the number of tokens that can eventually be created.<Br>
                    <br>
                <strong>Total Outstanding:</strong> This is the number of tokens that have been created.<br>
                <br>
                <strong>My Balance:</strong> This is the number of tokens that you own.<br>
                <br>
                <strong>Why does it show a link on the number?</strong> Blockchain numbers are extremely large. This makes them 
                difficult for people to read. We show numbers in "Ether" and allow you to click on them to visually see everything after the decimal point.<br>
                <br>
                <strong>Why don't I have a whole number of tokens?</strong> 18 digits after the decimal point is
                the standard for most tokens, and what Ether uses. Currencly we assume all tokens use 18 digits. 
                If a specific token uses something else we still show it as if it has 18 digits. Please remember this 
                when buying/selling tokens with different number of digits.

            </div>
            <div class="modal-footer">
                <ul class="nav nav-pills modal-nav text-center">
                    <li class="nav-item w-100 next">
                        <a class="nav-link" (click)="showModal(0)" href="javascript:void(0);">
                            Got it
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Modal 3 Get Free Token-->
<div [ngClass]="{ 'show block': modal == 3 }" class="modal fade roboto" tabindex="-1" aria-hidden="true">
    <div *ngIf="!gotFree" class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Get Free Token</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal(0);" href="javascript:void(0);">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5>Create transaction on the blockchain to get a FreeToken</h5>
            This transaction costs {{wb3.utils.fromWei(multiplyBigNumber(token.estimate,gasPrice), 'ether') | number : '1.0-9' }} TestEther
            <select *ngIf="tutorial.state >= 4" [(ngModel)]="gasPrice" (click)="getFreeToken()">
                <option value="0">Free Gas</option>
                <option value="1000000000">Low Gas Cost (1 gwei)</option>
                <option value="5000000000">Medium Gas Cost (5 gwei)</option>
                <option value="21000000000">High Gas Cost (21 gwei)</option>
            </select>
            <br><br>
            The transaction will use {{token.estimate | number}} gas. 
            <br><br>Gas is what the blockchain network uses to process transactions.
            This way people who want transactions to happen faster can bid more for gas than others.
            Because this is FTT and you have no TestEther we will bid 0 and the transaction will be free.
            <br><Br>
            Typical price for gas is between 1 and 20 gwei*. At $300/Ether a 70k gas transaction would cost between $0.0021 and $0.042.
            <br><Br>
            *(See the <a href="https://ethgasstation.info/calculatorTxV.php" target="_blank">Ethereum Gas Station</a> for pricing.) 
            <span *ngIf="token.estimate == maxGas">That is all the gas. Most likely an error.</span>
        </div>
        <div class="modal-footer">
            <ul class="nav nav-pills modal-nav text-center">
                <li class="nav-item w-50 prev">
                    <a class="nav-link" (click)="showModal(0)" href="javascript:void(0);">
                        Cancel
                    </a>
                </li>
                <li class="nav-item w-50 next">
                    <a class="nav-link" (click)="getFreeTokenConfirm()" href="javascript:void(0);">
                        Confirm
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <div *ngIf="gotFree" class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">You already got a free token</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal(0);" href="javascript:void(0);">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5>Each address can only get 1 free token</h5>
            Check your messages to see what's next in the tutorial
        </div>
        <div class="modal-footer">
            <ul class="nav nav-pills modal-nav text-center">
                <li class="nav-item w-100 next">
                    <a class="nav-link" (click)="showModal(0)" href="javascript:void(0);">
                        Ok
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
<!-- Modal 4 Got Free Token-->
<div [ngClass]="{ 'show block': modal == 4 }" class="modal fade roboto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Free Token Transaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal(0);" href="javascript:void(0);">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Transactions only happen when a new block is added to the blockchain. 
            Your transaction was sent to the blockchain but won't be official until it is added to a block.
            Confirmations are additional blocks after your transaction. The more blocks after your transaction the safer your transaction is. 
            <br><Br>
            This may take a few blocks. (Time since last block {{seconds}})
            <div [ngClass]="{ 'alert-warning': !token.transaction, 'alert-success': token.transaction }" class="alert" role="alert">Transaction sent to blockchain
                <br>{{token.transaction}}
            </div>
            <div [ngClass]="{'alert-warning': !token.receipt, 'alert-success': token.receipt }" class="alert" role="alert">Transaction added to blockchain
                <br>Gas Used: {{token.receipt?.gasUsed | number}}
                <span *ngIf="token.error">ERROR {{token.error}}</span>
            </div>
            <div [ngClass]="{'alert-warning': token.confirmed < 2, 'alert-success': token.confirmed > 1 }" class="alert" role="alert">Transaction confirmed on blockchain {{token.confirmed}} times</div>
        </div>
        <div class="modal-footer">
            <ul class="nav nav-pills modal-nav text-center">
                <li class="nav-item w-100 next">
                    <a class="nav-link" (click)="showModal(0)" href="javascript:void(0);">
                        Close
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
