<header class="navbar fixed-top">
    <a class="navbar-brand logo" routerLink="/home" routerLinkActive="active"><img src="/img/svg/FinTechToken_Main_LogoW.svg" alt="FinTechToken" class="logo"></a>
    <ul class="nav navbar-nav">
        <li *ngIf="cache.getCache('encrypted_id')" class="nav-item px-3">
            <a class="nav-link" routerLink="/blockchain" routerLinkActive="active" href="javascript:void(0);">
                <img  *ngIf="myRouter.url == '/blockchain'" src="/img/svg/FinTechToken_Block.svg" width="25px" alt="FinTechToken">
                <img  *ngIf="myRouter.url != '/blockchain'" src="/img/svg/FinTechToken_Blockg.svg" width="25px" alt="FinTechToken">
                <span class="hidden-xs-down">FTT</span>
                <span class="navtext">{{blocknumber > 999 ? blocknumber.toString().substr(blocknumber.toString().length-3) : blocknumber}}:{{seconds}}</span>
            </a>            
        </li>
        <li class="nav-item px-3 badge-contain">
            <a *ngIf="!cache.getCache('key')" id="accountID" class="nav-link" routerLink="/authenticate" routerLinkActive="active" href="javascript:void(0);">                
                <i class="icon-user"></i>
                <span *ngIf="!cache.getCache('encrypted_id')" class="badge badge-pill badge-warning badge-under2">Get Key</span>
                <span *ngIf="cache.getCache('encrypted_id')" class="badge badge-pill badge-warning badge-under2">Sign In</span>
                <span class="hidden-sm-down">My Account</span>
            </a>
            <a *ngIf="cache.getCache('key')" id="accountID" class="nav-link" routerLink="/myaccount" routerLinkActive="active" href="javascript:void(0);">                
                <i class="icon-user"></i>
                <span class="badge badge-pill badge-success badge-under">in</span>
                <span class="hidden-sm-down">My Account</span>
            </a>
        </li>
        <li *ngIf="cache.getCache('key')" class="nav-item px-3 badge-contain">
            <a id="alertID" class="nav-link" routerLink="/messages" routerLinkActive="active" href="javascript:void(0);">
                <i *ngIf="cache.getCache('encrypted_id') && !cache.getCache('key')" class="icon-envelope"></i>
                <i *ngIf="!cache.getCache('encrypted_id') || cache.getCache('key')" class="icon-envelope-open"></i>
                <span *ngIf="!cache.getCache('encrypted_id')" class="badge badge-pill badge-warning badge-over">1</span>
                <span *ngIf="cache.getCache('encrypted_id') && !cache.getCache('key')" class="badge badge-pill badge-success badge-over">0</span>
                <span *ngIf="cache.getCache('key')" class="badge badge-pill badge-warning badge-over">1</span>
                <span class="hidden-sm-down">Messages</span>
            </a>
        </li>
        <!--
        <li class="nav-item px-3">
            <a class="nav-link" routerLink="/market" routerLinkActive="active">
                <i class="icon-graph"></i>
                <span class="hidden-xs-down">Token Market</span>
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLink="/story" routerLinkActive="active">
                <i class="icon-people"></i>
                <span class="hidden-xs-down">Our Story</span>
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">
                <i class="icon-bubbles"></i>
                <span class="hidden-xs-down">Contact Us</span>
            </a>
        </li>
        !-->
    </ul>
</header>

<router-outlet>
</router-outlet>
